
    <table>

        <td class="td">

            <h1>OUR MISSION</h1>
            <p class="p">


                Your first destination for buying laptops
                <br>
                An online store specialized in selling high-quality laptops at the best competitive prices
                <br>
                the prices. Our expansive catalog offers a full range of electronic products and our knowledgeable staff
                Dedicated to helping you find the right tools to achieve success in your projects. We understand that
                there is
                The right laptop hardware is critical to the success of your business, and we're here to make sure you
                get it
                Everything
                You need to get the job done right. Our goal is to be a reliable partner for everyone who uses laptops
                Everywhere.
            </p>
        </td>
        <td class="par-img">
          <img id="image" src="../../../assets/1212.jpg" style="width: 500px;height: 400px;margin: 30px;border-radius: 25px;">
        </td>


    </table>
