
    <table>
        <tr>
            <td>
                <div>

                    <img class="image" src="../../../assets/123.png" style="border-radius: 25px;">

                </div>
            </td>
            <td>
                <div>
                    <p class="p">Your Name :</p>
                    <input type="text" id="sendername"><br>
                    <p class="p">Your Email :</p>
                    <input type="email" id="replyto"><br>
                    <p class="p">Your Message :</p>
                    <textarea id="message"></textarea><br>
                    <button id="sub">Send Email</button>
                </div>
            </td>
        </tr>
    </table>

